
body {
  margin: 0px;
  font-size: 200%;
}

.app .container {
  margin: 0 10px;
}

.navigation {
  height: 50px;
  margin: 2em 0;
}

.app .app.header {
  /*background: #fff;*/
  margin: 10px;
}

.app .app.footer {
  background: #1b1c1d;
}

@font-face {
  font-family: "MOEDICT";
  src: url(https://www.moedict.tw/MOEDICT.woff);
}

@font-face {
  font-family: "FiraSansOT";
  src: url(https://www.moedict.tw/fonts/FiraSansOT-Regular.woff);
}

body {
  background: #f1efeb;
  font-family: "MOEDICT", "FiraSansOT", sans-serif;
}

textarea{
  width:100%;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

div.su1sia2{
  height:400px;
  overflow-y: scroll;
}

/*semantic ui*/
.ui.items>.item>.content>.description {
  margin-top: 0;
}

.ui.inverted.dimmer {
  background-color: #f1efeb;
}